.box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    right: 0;
    justify-content: center;
    align-items: center;
}
.content {
  background-color: white;
  padding: 30px 20px;
  border-radius: 15px;
  position: relative;
  color: black;
  width: 25em;
  overflow: auto;
  z-index: 1;
}
.choice {
  text-align: left;
}
input[type="radio"] {
  accent-color: crimson;
  cursor: pointer;
  margin-right: 15px;
  /* height: 1em; */
}
.inputs {
  margin-bottom: 10px;
}
